body {
    /* background-color: #1497FF; */
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* custom scrollbar */

.leftpanel::-webkit-scrollbar, .rightpanel::-webkit-scrollbar {
    width: 6px;
}

.leftpanel::-webkit-scrollbar-track, .rightpanel::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.leftpanel::-webkit-scrollbar-thumb, .rightpanel::-webkit-scrollbar-thumb {
    background: #1497FF;
}

.leftpanel::-webkit-scrollbar-thumb:hover, .rightpanel::-webkit-scrollbar-thumb:hover {
    background: #1497FF;
}

::-webkit-scrollbar {
    width: 0;
}

.columns.is-gapless:not(:last-child) {
    margin-bottom: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 0 25px;
    color: #1497FF;
}

.header {
    /* height: 65px; */
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
}

.mainApp {
    margin-top: 53px !important;
}

.leftpanel {
    border-right: 1px solid #efefef;
    background-color: #f5f5f5;
    overflow-y: scroll;
}

.rightpanel {
    overflow-y: scroll;
    padding: 0 10px;
}

.menu {
    font-weight: 400;
    margin: 20px 0;
    font-size: 15px !important;
}

.menu-label {
    padding: 0 25px;
    color: #999999;
    font-size: 0.75rem;
}

.menu-list li {
    color: #1497FF;
}

.menu-list a {
    color: #666666;
    padding: 0.40em 25px;
    text-transform: capitalize;
}

.menu-list a:hover {
    color: #1497FF;
}

.menu-list li ul a, .draggableEl.gu-mirror> a {
    padding: 0.4em 0.75em !important;
}

.menu-list li ul {
    border-left: none;
    margin: 0 0 0 1.9em;
    padding-left: 0;
}

.menu-list li ul li {
    border-left: 1px solid #dbdbdb;
}

.menu-list li ul li:hover {
    border-left: 1px solid #1497FF;
}

.menu-list .is-expand>a {
    color: #1497FF;
}

#genxguruNavbar a.navbar-item:hover {
    background-color: #efefef !important;
}

#genxguruNavbar .navbar-start {
    margin-left: 70px;
}

.lazyloadAppTypes .navbar-item {
    text-transform: uppercase;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #1497FF;
    margin-top: -0.3em;
    right: 1.5em;
}

.select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
    height: 0.5em;
    width: 0.5em;
}

.navbar-dropdown.is-boxed {
    box-shadow: 0 5px 15px rgba(10, 10, 10, 0.1), 0 0 0 0px rgba(10, 10, 10, 0.1);
    border-radius: 0;
}

.control input, .control textarea, .control select, .control button {
    box-shadow: none;
    border-radius: 0;
    height: 1.875rem;
}

.control input:focus, .control textarea:focus, .control .select:focus, .control .select:active, .control button:focus {
    border-color: #1497FF !important;
    box-shadow: none !important;
}

.label {
    color: #666666;
    text-transform: capitalize;
}

.sortBtn {
    font-weight: 700;
    margin: 10px 10px 0 10px;
}

.taskGroup > a::before {
    content: '+';
    margin-right: 8px;
}

.taskGroup.is-expand > a::before {
    content: '-';
    margin-right: 10px;
    margin-left: 2px;
}

.taskSection, .rightpanel .draggableEl {
    box-shadow: 0px 0px 13px #eaeaea;
    margin: 10px 0;
    border: 1px solid #eaeaea;
}

.taskSection>a, .rightpanel .draggableEl>a, .draggableEl.gu-mirror {
    color: #1497FF;
    font-weight: 700;
    font-size: 15px;
    display: block;
    text-transform: capitalize;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #eaeaea;
}

.rightpanel .draggableEl>a, .draggableEl.gu-mirror{
    text-align: center;
    
}

.draggableEl.gu-mirror {
    font-weight: 500;
    padding: 5px 0 !important;
    border-bottom: none;
    font-size: 14px;
    /* width: auto !important; */
    height: auto !important;
    text-align: center;
}

.taskSection .dragEl {
    padding: 10px 20px;
}

.dragulaContainers .draggableEl>a, .taskSection>a {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.dragulaContainers .draggableEl>a:active, .taskSection>a:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* dragula custom */

.gu-mirror {
    transition: opacity 0.4s ease-in-out;
    /* position: relative; */
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    /* opacity: 1; */
}

.gu-hide {
    display: none !important;
}

.gu-transit {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.rightpanel .gu-transit {
    text-align: center;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=0.5);
}

.rightpanel .gu-transit .dragEl {
    display: none;
}

.gu-mirror {
    background-color: #1497FF;
    list-style: none;
}

.taskSection.gu-mirror {
    background-color: #ffffff;
}

.taskSection.gu-mirror>a {
    text-align: center;
    background-color: #1497FF;
    color: #ffffff;
}

.taskSection.gu-mirror .dragEl {
    display: none;
}

.gu-mirror a {
    color: #ffffff;
}

.tasksAttributes {
    display: none;
}

.label:not(:last-child) {
    margin-bottom: 0.25em !important;
}

.label {
    font-size: 13px;
}