body {
    /* background-color: #1497FF; */
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* custom scrollbar */

#leftpanel::-webkit-scrollbar, #rightpanel::-webkit-scrollbar, #outlinepanel::-webkit-scrollbar {
    width: 6px;
}

#leftpanel::-webkit-scrollbar-track, #rightpanel::-webkit-scrollbar-track, #outlinepanel::-webkit-scrollbar-track {
    background: transparent;
}

#leftpanel::-webkit-scrollbar-thumb, #rightpanel::-webkit-scrollbar-thumb, #outlinepanel::-webkit-scrollbar-thumb {
    background: #1497FF;
}

#leftpanel::-webkit-scrollbar-thumb:hover, #rightpanel::-webkit-scrollbar-thumb:hover, #outlinepanel::-webkit-scrollbar-thumb:hover {
    background: #1497FF;
}

::-webkit-scrollbar {
    width: 0;
}

.columns.is-gapless:not(:last-child) {
    margin-bottom: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 0 25px;
    color: #1497FF;
}

.header {
    /* height: 65px; */
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
}

.mainApp {
    margin-top: 53px !important;
}

.mainApp>div {
    overflow-x: hidden;
    overflow-y: scroll;
}

.leftpanel {
    border-right: 1px solid #efefef;
    background-color: #f5f5f5;
}

.rightpanel {
    padding: 0 10px;
}

.outlinepanel {
    border-left: 1px solid #dfdfdf;
}

.menu {
    font-weight: 400;
    margin: 20px 0;
    font-size: 15px !important;
}

.menu-label {
    padding: 0 25px;
    color: #999999;
    font-size: 0.75rem;
}

.menu-list li {
    color: #1497FF;
}

.menu-list a {
    color: #666666;
    padding: 0.40em 40px;
    text-transform: capitalize;
}

.menu-list a:hover {
    color: #1497FF;
}

.menu-list li ul a, .draggableEl.gu-mirror>a {
    padding: 0.4em 0.75em !important;
}

.menu-list li ul {
    border-left: none;
    margin: 0 0 0 1.9em;
    padding-left: 0;
}

.menu-list li ul li {
    /* border-left: 1px solid #dbdbdb; */
    /* margin-left: ; */
}

.menu-list li ul li:hover {
    /* border-left: 1px solid #1497FF; */
}

.menu-list .is-expand>a, #tasksPreview.menu-list .is-expand>a {
    color: #1497FF;
}

#tasksPreview.menu-list li ul{
    padding-left: 27px;
    line-height: 1.3em;
}

#genxguruNavbar a.navbar-item:hover {
    background-color: #efefef !important;
}

.lazyloadAppTypes .navbar-item {
    text-transform: uppercase;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #1497FF;
    margin-top: -0.3em;
    right: 1.5em;
}

.select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
    height: 0.5em;
    width: 0.5em;
}

.control input, .control textarea, .control select, .control button {
    box-shadow: none;
    border-radius: 0;
    height: 1.875rem;
    padding-top: 0;
    padding-bottom: 0;
}

.modal-card-foot button {
    box-shadow: none;
    border-radius: 0;
}

.control input:focus, .control textarea:focus, .control .select:focus, .control .select:active, .control button:focus {
    border-color: #1497FF !important;
    box-shadow: none !important;
}

.modal-card-head {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.modal-card-foot {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.label {
    color: #666666;
    text-transform: capitalize;
}

.rightpanel label.required:after {
    content: "*";
    color: red;
    padding: 3px;
    /* font-size: 21px; */
}

.sortBtn {
    font-weight: 700;
    margin: 10px 10px 0 10px;
}

.taskGroup>a {
    position: relative;
}

.taskGroup>a .icon {
    position: absolute;
    left: 18px;
    top: 3px;
}

.taskSection {
    position: relative;
}

.taskSection, .rightpanel .draggableEl {
    box-shadow: 0px 0px 13px #eaeaea;
    margin: 10px 0;
    border: 1px solid #eaeaea;
}

.taskSection>a, .rightpanel .draggableEl>a, .draggableEl.gu-mirror {
    color: #1497FF;
    font-weight: 700;
    font-size: 15px;
    display: block;
    text-transform: capitalize;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #eaeaea;
}

.rightpanel .draggableEl>a, .draggableEl.gu-mirror {
    text-align: center;
}

.draggableEl.gu-mirror {
    font-weight: 500;
    padding: 5px 0 !important;
    border-bottom: none;
    font-size: 14px;
    /* width: auto !important; */
    height: auto !important;
    text-align: center;
}

.taskSection .dragEl {
    padding: 10px 20px;
}

.dragulaContainers .draggableEl>a, .taskSection>a {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.dragulaContainers .draggableEl>a:active, .taskSection>a:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* dragula custom */

.gu-mirror {
    transition: opacity 0.4s ease-in-out;
    /* position: relative; */
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    /* opacity: 1; */
}

.gu-hide {
    display: none !important;
}

.gu-transit {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.rightpanel .gu-transit {
    text-align: center;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=0.5);
}

.rightpanel .gu-transit .dragEl, .rightpanel .gu-transit .rmTask {
    display: none;
}

.gu-mirror {
    background-color: #1497FF;
    list-style: none;
}

.taskSection.gu-mirror {
    background-color: #ffffff;
}

.taskSection.gu-mirror>a {
    text-align: center;
    background-color: #1497FF;
    color: #ffffff;
}

.taskSection.gu-mirror .dragEl, .taskSection.gu-mirror .rmTask {
    display: none;
}

.gu-mirror a {
    color: #ffffff;
}

.tasksAttributes {
    display: none;
}

.label:not(:last-child) {
    margin-bottom: 0.25em !important;
}

.label {
    font-size: 13px;
}

#generateJson {
    height: 2.25em;
    font-size: 15px;
    margin: 6px;
}

#tasksPreview>div {
    text-align: center;
}

.panelHead {
    box-shadow: 0px 0px 13px #eaeaea;
}

.panelHead>h2 {
    font-size: 18px;
    font-weight: 700;
    color: #1497FF;
    padding: 9px 15px;
}

.rmTask {
    display: none;
}

.rightpanel .rmTask {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    top: 0;
    right: 0;
    height: 43px;
    width: 43px;
}

.rightpanel .rmTask .fas {
    padding: 14px 15px;
    color: #666666 !important;
}

.rightpanel .rmTask .fas:hover {
    color: #ff3860 !important;
}

.alertMsg {
    margin: 50px auto;
    font-size: 21px;
    text-align: center;
}

@media (min-width:1088px) {
    #genxguruNavbar .navbar-start {
        margin-left: 70px;
    }
    .navbar-dropdown.is-boxed {
        box-shadow: 0 5px 15px rgba(10, 10, 10, 0.1), 0 0 0 0px rgba(10, 10, 10, 0.1);
        border-radius: 0;
    }
}